td img {
  width: 30px;
}

.add-technology-btn {
  padding: 2vh 0;
}

.add-category-btn {
  padding: '1vh';
  margin: '0 -0.55vw'; 
}

.material-icons {
  font-weight: normal !important;
}

table {
  table-layout: fixed ;
  width: 100% ;
}

td {
  width: 25% ;
}
