.item-title {
  font-size: 2rem;
}

/* .item-image {
  height: 10vh;
  width: auto;
} */

.card {
  background-color: #f5f5f5 !important;
}

.card-content {
  padding: 0 10px !important;
  margin-top: -1vh !important;
}

.card-action, .flex {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-self: center;

  justify-content: flex-end;
}



a i.card-icons {
  padding: 7px 0;
  margin-right: -0.35vw !important;
}

a i.card-icons:hover {
  color: #009688 !important;
  cursor: pointer; 
}

@media(max-width: 650px) {
  .item-title {
    font-size: 1.5rem;
    text-align: center !important;
  }
 
  .item-image {
    width: 100%;
    height: auto;
  }

  #industry-item {
    display: block !important;
    float: left !important;
  }
}

@media(min-width: 900px) and (max-width: 1300px) {
  #industry-item {
    display: flex !important;
    flex-direction: column !important;
  }
}